<div>
	<a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Home</a>
	<h2>Course <small>Add a new course</small></h2>
	<div class="jumbotron">
		<div class="container">
			   <div class="col-lg-6">
	            <form role="form"  ng-submit="AddCourse()">
	                <div class="form-group">
	                        <label>Grade</label>
	                        <select class="form-control" name="grade" ng-model="course.grade" >
	                            <option>2</option>
	                            <option>3</option>
	                            <option>4</option>
	                        </select>
	                </div>
	                <div class="form-group"  >
	                        <label>Subject</label>
	                        <select class="form-control" name="subject"  ng-model="course.subject">
	                            <option>Maths</option>
	                            <option>Environmental Studies</option>
	                            <option>English Language</option>
	                        </select>
	                </div>
	                <fieldset class="form-group">
	                    <label>Title</label>
	                    <input class="form-control" name="title"  ng-model="course.title">
	                </fieldset>
	                <fieldset class="form-group">
	                    <label>Description</label>
	                    <textarea class="form-control" rows="3" name="description"  ng-model="course.description"></textarea>
	                </fieldset>
	                <fieldset class="form-group">
	                    <label >Course material</label>
	                  	<input class="form-control" name="url"  ng-model="course.url">
	                </fieldset>
	                 <button id="singlebutton" class="btn btn-primary" type="submit" value="Publish" ng-disabled="!course.grade || !course.title || !course.subject || !course.description || !course.url ">Submit Button</button>
	                <button type="reset" class="btn btn-secondary">Reset</button>
	            </form>
        </div>
		</div>
	</div>
</div>