<div>
    <a ui-sref="quiz" class="pull-right btn btn-primary btn-lg btn-outline btn-rounded">Genarate Quiz</a>
    <h2>Questions<small> Add a new question</small></h2>
    <span class="glyphicon glyphicon-dashboard bg-fade"></span>
    <div class="jumbotron">
        <div class="container">
            <div class="col-lg-6">
                <form role="form"  ng-submit="AddQuestion(files)">
                    <fieldset class="form-group">
                        <label>Grade</label>
                        <select class="form-control" name="grade" ng-model="question.grade" ng-change="filter1()">
                            <option ng-option value="">Select One</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </fieldset>
                    <fieldset class="form-group"  >
                        <label>Subject</label>
                        <select class="form-control" name="subject"  ng-model="question.subject" ng-change="filter2()">
                            <option ng-option value="">Select One</option>
                            <option>Maths</option>
                            <option>Environmental Studies</option>
                            <option>English Language</option>
                        </select>    
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Title</label>
                        <select class="form-control" name="title"  ng-model="question.title">
                            <option ng-option value="">Select One</option>
                            <option ng-repeat="t in titles">{{t}}</option>
                        </select>    
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Question Type</label>
                        <select class="form-control" name="questionType"  ng-model="question.questionType">
                            <option ng-option value="">Select One</option>
                            <option ng-option value="Text Question">Text Question</option>
                            <option ng-option value="Image Question">Image Question</option>
                        </select>
                    </fieldset>
                    <fieldset class="form-group" ng-if="question.questionType == 'Text Question'">
                        <label>Question</label>
                        <textarea class="form-control" rows="3" name="question" ng-model="question.question"></textarea>
                    </fieldset>
                    <fieldset class="form-group" ng-if="question.questionType == 'Image Question'">
                        <label for="exampleInputFile">Question</label>
                        <div class="panel panel-info">
                            <div class="panel-heading"> 
                            <input type="file" name='file' id ='file' class="form-control-file"  ngf-select ng-model="$parent.files"   accept="image/*" ngf-max-size="2MB" ngf-keep="true" ngf-keep-distinct="true" onchange="document.getElementById('img').src = window.URL.createObjectURL(this.files[0])"></div>
                                <div class="panel-body">
                                   
                                    <img id="img" alt="Image" width="350" height="200" />   

                                 </div>
                                 <div class="panel-footer"></div>
                            </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Answer 1</label>
                        <input class="form-control" name="answer1" ng-model="question.answer1"/>
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Answer 2</label>                            
                        <input class="form-control" name="answer2" ng-model="question.answer2"/>
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Answer 3</label>
                        <input class="form-control" name="answer3" ng-model="question.answer3"/>
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Answer 4</label>
                        <input class="form-control" name="answer4" ng-model="question.answer4"/>
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Correct Answer</label>
                        <select class="form-control" name="canswer" ng-model="question.canswer">
                            <option ng-option value="">Select One</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </fieldset>
                    
                    <button id="singlebutton" class="btn btn-primary" type="submit" value="Publish" ><span class="glyphicon glyphicon-book"></span> Add Question </button>
                    <button ng-click="file = null" type="reset"  class="btn btn-secondary"><span class="glyphicon glyphicon-ban-circle"></span> Reset</button>
                </form>
            </div>
            <div class="col-lg-6">
                <a ui-sref="viewquestion" class="pull-right btn btn-primary btn-outline btn-rounded">View Questions</a>
            </div>
        </div>
    </div>
</div>