<div>
	<a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">View Story Book</a>
	<h2>Story Book <small>Add a new story book</small></h2>
	<span class="glyphicon glyphicon-dashboard bg-fade"></span>
	<div class="jumbotron">
		<div class="container">
      <div class="col-lg-6">

        <form role="form" name="StoryBook" id="StoryBook" novalidate="" ng-submit="AddPost(files)" >

          <fieldset class="form-group" ng-class="{'has-error' : StoryBook.title.$invalid && StoryBook.title.$touched}">
            <label>Title</label>
            <input class="form-control" name="title" ng-model="storybook.title" required="">
            <small class="help-block" ng-show="StoryBook.title.$invalid && StoryBook.title.$touched">Please enter the Title</small>
          </fieldset>

          <fieldset class="form-group" ng-class="{'has-error' : StoryBook.description.$invalid && StoryBook.description.$touched}">
            <label>Description</label>
            <textarea class="form-control" rows="3" name="description" ng-model="storybook.description" required=""></textarea>
            <small class="help-block" ng-show="StoryBook.description.$invalid && StoryBook.description.$touched">Please enter the Description</small>
          </fieldset>     

          <fieldset class="form-group" ng-class="{'has-error' : StoryBook.file.$invalid && StoryBook.file.$touched}">
            <label for="exampleInputFile">Content</label>
            <input type="file" class="form-control-file" id="pictures" ngf-select ng-model="files"  name="file" accept="image/*" ngf-max-size="2MB" ngf-multiple="true" ngf-keep="true" ngf-keep-distinct="true" required="" />
            <small class="help-block" ng-show="StoryBook.file.$invalid && StoryBook.file.$touched">Please Choose Images</small>
          </fieldset>

 				  <fieldset class="form-group">
            <div class="col-sm-3" ng-repeat="file in files">
              <div class="card-block bg-white" style="padding-bottom: 10px;">
                <img ngf-thumbnail="!file.$error && file" width="100" height="100" ng-click="file = null" ng-show="file" >
              </div>
            </div>
          </fieldset>

          <p ng-show="errMsg">{{msg}}</p>
          <button id="singlebutton" class="btn btn-primary" type="submit" value="Publish" ng-disabled="StoryBook.$invalid"><span class="glyphicon glyphicon-book"></span> Create </button>
          <button ng-click="file = null" type="reset"  class="btn btn-secondary"><span class="glyphicon glyphicon-ban-circle"></span> Reset</button>  

        </form>

      </div>
    </div>
	</div>
</div>