<div>
	<a ui-sref="quiz" class="pull-right btn btn-primary btn-lg btn-outline btn-rounded">Genarate Quiz</a>
	<h2>View Questions </h2>
	<span class="glyphicon glyphicon-dashboard bg-fade"></span>
	<div class="jumbotron">
		<div class="container">
      <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">Questions
                <a ui-sref="question" class="pull-right btn btn-primary btn-sm btn-outline btn-rounded">Add Questions</a>
              </div>
              <div class="panel-body">
                  <div class="table-responsive">
                      <table class="table table-striped table-bordered table-hover">
                        <thead>
                          <tr>
                            <th>Grade</th>
                            <th>Subject</th>
                            <th>Title</th>
                            <th>Question</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="question in questions">
                            <td>{{question.grade}}</td>
                            <td>{{question.subject}}</td>
                            <td>{{question.title}}</td>
                            <td ng-if="question.type == 'Text Question'">{{question.question}}</td>
                            <td ng-if="question.type == 'Image Question'"><img src="{{question.question}}" alt="" height="42" width="100"></td>
                            <td>
                              <button type="submit" class="btn btn-sm btn-primary" ng-click="editQuestion(question.$id)" data-target="#editModal" data-toggle="modal">Edit</button>
                              <button type="submit" class="btn btn-sm btn-danger" ng-click="deleteQuestion(question)">Delete</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
              </div>
            </div>
          </div>
    </div>

     <div class="container">
        <div id="editModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div  class="model-header">

                <h3 style="text-align: center;">Edit Question</h3>
              </div>
              <div class="modal-body">
               <form role="form" name="Question" id="Question" novalidate="" ng-submit="AddQuestion(files)">
                    <fieldset class="form-group" ng-class="{'has-error' : Question.grade.$invalid && Question.grade.$touched}">
                        <label>Grade</label>
                        <select class="form-control" name="grade" ng-model="editQuestionData.grade" ng-change="filter1()" required="">
                            <option ng-option value="">Select One</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                      <small class="help-block" ng-show="Question.grade.$invalid && Question.grade.$touched">Please choose a grade</small>
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error' : Question.subject.$invalid && Question.subject.$touched}" >
                        <label>Subject</label>
                        <select class="form-control" name="subject"  ng-model="editQuestionData.subject" ng-change="filter2()" required="">
                            <option ng-option value="">Select One</option>
                            <option>Maths</option>
                            <option>Environmental Studies</option>
                            <option>English Language</option>
                        </select> 
                      <small class="help-block" ng-show="Question.subject.$invalid && Question.subject.$touched">Please choose a subject</small>   
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error' : Question.title.$invalid && Question.title.$touched}">
                        <label>Title</label>
                        <select class="form-control" name="title"  ng-model="editQuestionData.title" required="">
                            <option ng-option value="">Select One</option>
                            <option ng-repeat="t in titles">{{t}}</option>
                        </select>
                      <small class="help-block" ng-show="Question.title.$invalid && Question.title.$touched">Please choose a title</small>    
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error' : Question.questionType.$invalid && Question.questionType.$touched}">
                        <label>Question Type</label>
                        <select class="form-control" name="questionType"  ng-model="editQuestionData.type" required="">
                            <option ng-option value="">Select One</option>
                            <option ng-option value="Text Question">Text Question</option>
                            <option ng-option value="Image Question">Image Question</option>
                        </select>
                        <small class="help-block" ng-show="Question.questionType.$invalid && Question.questionType.$touched">Please choose a question type</small>
                    </fieldset>
                    <fieldset class="form-group" ng-if="editQuestionData.type == 'Text Question'" ng-class="{'has-error' : Question.question.$invalid && Question.question.$touched}">
                        <label>Question</label>
                        <textarea class="form-control" rows="3" name="question" ng-model="editQuestionData.question" required=""></textarea>
                        <small class="help-block" ng-show="Question.question.$error.minlength && Question.question.$touched">Please enter a valid Question - Question should have more than 10 characters</small>
                    </fieldset>
                    <fieldset class="form-group" ng-if="editQuestionData.type == 'Image Question'" ng-class="{'has-error' : Question.file.$invalid && Question.file.$touched}">
                        <label for="exampleInputFile">Question</label>
                        <div class="panel panel-info">
                            <div class="panel-heading"> 
                             <input type="file" name='file' id ='file' class="form-control-file"  ngf-select ng-model="$parent.files"   accept="image/*" ngf-max-size="2MB" ngf-keep="true" ngf-keep-distinct="true" onchange="document.getElementById('img').src = window.URL.createObjectURL(this.files[0])" required=""></div>
                                <div class="panel-body">
                                    <img id="img" alt="Image" width="350" height="200" src="{{editQuestionData.question}}"/>   
                                 </div>
                            <div class="panel-footer"></div>
                          </div>
                         <small class="help-block" ng-show="Question.file.$invalid && Question.file.$touched">Please Choose Image</small>
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error' : Question.answer1.$invalid && Question.answer1.$touched}">
                        <label>Answer 1</label>
                        <input class="form-control" name="answer1" ng-model="editQuestionData.answer1" required=""/>
                        <small class="help-block" ng-show="Question.answer1.$invalid && Question.answer1.$touched">Please enter a answer1</small>
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error' : Question.answer2.$invalid && Question.answer2.$touched}">
                        <label>Answer 2</label>                            
                        <input class="form-control" name="answer2" ng-model="editQuestionData.answer2" required=""/>
                        <small class="help-block" ng-show="Question.answer2.$invalid && Question.answer2.$touched">Please enter a answer2</small>
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error' : Question.answer3.$invalid && Question.answer3.$touched}">
                        <label>Answer 3</label>
                        <input class="form-control" name="answer3" ng-model="editQuestionData.answer3" required=""/>
                        <small class="help-block" ng-show="Question.answer3.$invalid && Question.answer3.$touched">Please enter a answer3</small>
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error' : Question.answer4.$invalid && Question.answer4.$touched}">
                        <label>Answer 4</label>
                        <input class="form-control" name="answer4" ng-model="editQuestionData.answer4" required=""/>
                        <small class="help-block" ng-show="Question.answer4.$invalid && Question.answer4.$touched">Please enter a answer4</small>
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error' : Question.canswer.$invalid && Question.canswer.$touched}">
                        <label>Correct Answer</label>
                        <select class="form-control" name="canswer" ng-model="editQuestionData.canswer" required="">
                            <option ng-option value="">Select One</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                        <small class="help-block" ng-show="Question.answer1.$invalid && Question.answer1.$touched">Please choose a correct answer</small>
                    </fieldset>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" ng-click="updateQuestion(editQuestionData.$id)" ng-disabled="Question.$invalid">Update</button>
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
    </div>

  </div>
</div>